 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: conic-gradient(from 36deg, rgb(255, 0, 0),rgb(253, 135, 17));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background: rgba(137, 45, 45, 0.792);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(9, 8, 8, 9.2);
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin: 10px 0;
    padding: 10px 20px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

#idCard {
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px auto;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
} 




#cameraSection {
    margin: 10px 0;
    position: relative;
}

#camera {
    width: 150px;
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#capturePhoto {
    margin-top: 10px;
    padding: 5px 15px;
    background: #278efb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#capturePhoto:hover {
    background: #0056b3;
}